{% set nginx = salt['grains.filter_by']({
        'Debian': { 
            'webuser': 'www-data' },
        'RedHat': {
            'webuser': 'nginx',
        },
  }, merge=salt['pillar.get']('nginx:lookup')) %}

